.note-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 100%;
    justify-content: center;
}

.note-card {
    border: 3px solid black;
    border-radius: .5rem;
    margin-bottom: 1rem;
    max-width: 20%;
    max-height: 25rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    padding: .5rem;
}

.note-title {
    font-weight: bolder;
    flex-grow: 0;
}

.note-content {
    overflow-y: scroll;
    height: 50%;
    flex-grow: 1;
}

.note-content::-webkit-scrollbar-button {
    display: none;
}

button {
    flex-grow: 0;
}